<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/imgs/star.ico" />
    <title>{% block title %}Five Hotel{% endblock %}</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/fontawesome.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Lobster+Two|Noto+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
{% block header %}
    {% include 'base/header.html' %}
{% endblock %}
{% block body %}
{% endblock %}
{% block footer %}
    {% include 'base/footer.html' %}
{% endblock %}
</body>
</html>